.heading {
    transition: all 1s ease-in-out;
}

.heading:hover {
    background: lightblue;
}

a {
    color: navy;
}

a:link {
    color: violet;
}

a:visited {
    color: mediumaquamarine;
}

a:hover {
    background: maroon;
    color: white;
    text-decoration: none;
}

a:active {
    background: darkcyan;
    color: white;
    text-decoration: none;
}

input:checked + p {
    background: lightblue;
}

.pai .lista li:last-child {
    background: lightblue;
}

input:required {
    background: violet;
}